.nav{
  float: left;
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  margin-top: 20px;
  &__name{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #253141;
    padding: 35px 20px;
  }
  ul{
    float: right;
    li{
      float: right;
      margin-right: 10px;
    }
    .icon{
      color: #ffffff;
    }
  }
  
  &__room{
    padding: 0 20px;
    &__name{
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
      margin: 20px 0 5px;
    }
    &__text{
      font-size: 11px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 20px;
    }
  }
}